@{
    ViewData["Title"] = "Editar Tarea";
}

<div class="form-container">
    @if (ViewBag.TareaAEditar != null)
    {
        <form action='@Url.Action("EditarTareaGuardar", "Home")' method="POST" enctype="multipart/form-data" class="form-box">
            <input type="hidden" name="IDt" value="@ViewBag.TareaAEditar.ID" />

            <label>Nombre:</label>
            <input type="text" name="nombre" value="@ViewBag.TareaAEditar.Titulo" required />

            <label>Descripción:</label>
            <input type="text" name="desc" value="@ViewBag.TareaAEditar.Descripcion" required />

            <label>Fecha:</label>
            <input type="date" name="fechaF" value="@ViewBag.TareaAEditar.Fecha.ToString("yyyy-MM-dd")" required />

            <input type="submit" value="Guardar Cambios" class="btn-login" />
        </form>
    }
</div>
