@{
    ViewData["Title"] = "Index";
}

<section class="index-container">

    <div class="perfil">
        <img src="@ViewBag.Usuario.Foto" alt="Foto usuario" class="perfil-foto" />
        <h2>@(ViewBag.Usuario.Nombre) @(ViewBag.Usuario.Apellido)</h2>
        <h5>@("@" + ViewBag.Usuario.Username)</h5>
        <h5>Primer Login desde @(ViewBag.Usuario.UltimoLogin.ToString("dd/MM/yyyy"))</h5>

        <nav class="perfil-nav">
            <a href="@Url.Action("CerrarSesión", "Account")">Cerrar Sesión</a>
            <a href="@Url.Action("CrearTarea", "Home")">Crear Tarea</a>
            @if (ViewBag.MostarPapelera)
            {
                <a href="@Url.Action("Papelera", "Home", new { idUsuario = ViewBag.IDu })">Ver Papelera</a>
            }
        </nav>
    </div>

    <div class="tareas">
        @foreach (Tarea a in ViewBag.Tareas)
        {
            string clase;
            if (a.Finalizada)
            {
                clase = "terminada";
            }
            else
            {
                clase = "pendiente";
            }


            <div class="tarea-card @(clase)">
                <h1>@a.Titulo</h1>
                <h6>@a.Descripcion</h6>
                <h4>@a.Fecha.ToString("dd/MM/yyyy")</h4>

                <div class="acciones">
                    @if (a.Finalizada)
                    {
                        <a href="@Url.Action("EliminarTarea", "Home", new { idTarea = a.ID })">Borrar</a>
                    }
                    else
                    {
                        <a href="@Url.Action("EditarTarea", "Home", new { idTarea = a.ID })">Editar</a>
                        <a href="@Url.Action("EliminarTarea", "Home", new { idTarea = a.ID })">Borrar</a>
                        <a href="@Url.Action("FinalizarTarea", "Home", new { idTarea = a.ID })">Terminar</a>
                        <a href="@Url.Action("CompartirTareas", "Home", new { idTarea = a.ID })">Compartir</a>
                    }
                </div>
            </div>
        }
    </div>

</section>