@{
    ViewData["Title"] = "Tareas";
}

<section>

    <div>

        <img src= @ViewBag.Usuario.Foto alt = ''><img>
        <h2>@(ViewBag.Usuario.Nombre) @(ViewBag.Usuario.Apellido)</h2>
        <h5>@(ViewBag.Usuario.Username)</h5>
        <h5>Primer Login desde @(ViewBag.Usuario.Fecha)</h5>

    </div>

</section>
